@model dynamic
<h4 style="font-family: Verdana, Times, serif; color: #5C5A5A; margin-left: 1em;">Вы успешно вошли в систему</h4>
<br/>

@*Block for Head*@

@if (User.IsInRole("Head"))
{
<a style="background-color: #bfbfbf; color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block;" asp-action="Register" asp-controller = "Account">Добавить нового врача</a>
<br/>
<br/>
<h6>Список врачей</h6>
<div  style="height: 300px;overflow: scroll;">
<table class="table table-bordered table-striped mb-0">
    <thead>
        <tr>
        <th><span class="text">ID</span></th>
        <th><span class="text">Имя</span></th>
        <th><span class="text">Фамилия</span></th>
        <th><span class="text">Должность</span></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.viewDocs)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.RusName</td>
            <td><a class="btn btn-link" href="~/Account/Edit?id=@item.Id">Изменить</a></td>
            <td><button type="button" class="btn btn-link" data-toggle="modal" data-target="#Delete">Удалить</button></td>
            <td><a class="btn btn-link" href="~/Account/View?id=@item.Id">Просмотреть</a></td>
        </tr>
        <div class="modal fade" id="Delete" tabindex="-1" role="dialog" aria-labelledby="Delete" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Deletel">Удаление врача</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Вы уверены, что хотите удалить врача?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
        <button type="button" class="btn btn-primary"><a href="~/Account/Delete?id=@item.Id">Да</a></button>
      </div>
    </div>
  </div>
</div>
        }
    </tbody>
</table>
</div>
<br/>
<br/>

    <h6>Список оформленных историй</h6>
<div style="height: 500px;overflow: scroll;">
<table class="table table-bordered table-striped mb-0">
    <thead>
        <tr>
        <th><span class="text">ID</span></th>
        <th><span class="text">Имя</span></th>
        <th><span class="text">Фамилия</span></th>
        <th><span class="text">Дата поступления</span></th>
        <th></th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model.viewInitPatients)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.ReceiptDate</td>
            <td><a class="btn btn-link" href="~/Account/EditInitPatient?id=@item.Id">Изменить</a></td>
            <td><a class="btn btn-link" href="~/Account/DeleteEditPatient?id=@item.Id">Удалить</a></td>
        </tr>
         }*@
    </tbody>
</table>
</div>
}

@*Block for Obstet*@

@if (User.IsInRole("Obstet"))
{
    <a style="background-color: #bfbfbf; color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block;" asp-action="AddPatient" asp-controller = "Account">Добавить нового пациента</a>
    <br/>
<br/>
<h6>Список зарегистрированных пациентов</h6>
<div style="height: 300px;overflow: scroll;">
<table class="table table-bordered table-striped mb-0">
    <thead>
        <tr>
        <th><span class="text">ID</span></th>
        <th><span class="text">Имя</span></th>
        <th><span class="text">Фамилия</span></th>
        <th><span class="text">Дата поступления</span></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model.viewInitPatients)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.ReceiptDate</td>
            <td><a class="btn btn-link" href="~/Account/EditInitPatient?id=@item.Id">Изменить</a></td>
            <td><button type="button" class="btn btn-link" data-toggle="modal" data-target="#DeleteInitPatient">Удалить</button></td>
            <td><a class="btn btn-link" href="~/Account/ViewInitPatient?id=@item.Id">Просмотреть</a></td>
            <td><button type="button" class="btn btn-link" data-toggle="modal" data-target="#SubmitInitPatient">Отправить</button></td>
        </tr>
         <div class="modal fade" id="DeleteInitPatient" tabindex="-1" role="dialog" aria-labelledby="DeleteInitPatient" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DeleteInitPatient">Удаление пациента</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Вы уверены, что хотите удалить пациента?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
        <button type="button" class="btn btn-primary"><a href="~/Account/DeleteInitPatient?id=@item.Id">Да</a></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="SubmitInitPatient" tabindex="-1" role="dialog" aria-labelledby="SubmitInitPatient" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SubmitInitPatient">Отправить на дальнейшую обработку</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Вы уверены, что хотите отправить данные на обработку акушером-гинекологом?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
        <button type="button" class="btn btn-primary"><a href="~/Account/SubmitInitPatient?id=@item.Id">Да</a></button>
      </div>
    </div>
  </div>
</div>
         }
    </tbody>
</table>
</div>
}

@*Block for Gynec*@

@if (User.IsInRole("Gynec"))
{
    <a style="background-color: #bfbfbf; color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block;" asp-action="AddPatient" asp-controller = "Account">Добавить нового пациента</a>
    <br/>
<br/>
<h6>Список зарегистрированных пациентов</h6>
<div style="height: 300px;overflow: scroll;">
<table class="table table-bordered table-striped mb-0">
    <thead>
        <tr>
        <th><span class="text">ID</span></th>
        <th><span class="text">Имя</span></th>
        <th><span class="text">Фамилия</span></th>
        <th><span class="text">Дата поступления</span></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model.viewProcPatients)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.ReceiptDate</td>
            <td><a class="btn btn-link" href="~/Account/AddProcPatient?id=@item.Id">Заполнить историю</a></td>
            <td><a class="btn btn-link" href="~/Account/EditProcPatient?id=@item.Id">Изменить историю</a></td>
            <td> <button type="button" class="btn btn-link" data-toggle="modal" data-target="#DeleteProcPatient">Удалить</button></td>         
            <td><a class="btn btn-link" href="~/Account/ViewProcPatient?id=@item.Id">Просмотреть</a></td>
            <td><button type="button"class="btn btn-link" data-toggle="modal" data-target="#SubmitProcPatient">Отправить</button></td>
        </tr>
   <div class="modal fade" id="DeleteProcPatient" tabindex="-1" role="dialog" aria-labelledby="DeleteProcPatient" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DeleteProcPatient">Удаление пациента</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Вы уверены, что хотите удалить пациента?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
        <button type="button" class="btn btn-primary"><a href="~/Account/DeleteProcPatient?id=@item.Id">Да</a></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="SubmitProcPatient" tabindex="-1" role="dialog" aria-labelledby="SubmitProcPatient" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SubmitProcPatient">Отправить на дальнейшую обработку</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Вы уверены, что хотите отправить историю на оценку заведующему кафедры?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
        <button type="button" class="btn btn-primary"><a href="~/Account/SubmitProcPatient?id=@item.Id">Да</a></button>
      </div>
    </div>
  </div>
</div>
         }
    </tbody>
</table>
</div>
}


