@model List<FinalProject.Models.DocViewModel>
<h4 style="font-family: Verdana, Times, serif; color: #5C5A5A; margin-left: 1em;">Вы успешно вошли в систему</h4>
<br/>
@if (User.IsInRole("Head"))
{
<a style="background-color: #bfbfbf; color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block;" asp-action="Register" asp-controller = "Account">Добавить нового врача</a>
<br/>
<br/>
<h6>Список врачей</h6>
<div  style="height: 300px;overflow: scroll;">
<table class="table table-bordered table-striped mb-0">
    <thead>
        <tr>
        <th><span class="text">ID</span></th>
        <th><span class="text">Имя</span></th>
        <th><span class="text">Фамилия</span></th>
        <th><span class="text">Должность</span></th>
        <th></th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.RusName</td>
            <td><a class="btn btn-link" href="~/Account/Edit?id=@item.Id">Изменить</a></td>
            <td><a class="btn btn-link" href="~/Account/Delete?id=@item.Id">Удалить</a></td>
        </tr>
        }
    </tbody>
</table>
</div>
<br/>
<br/>
<h6>Список оформленных историй</h6>
<div style="height: 300px;overflow: scroll;">
<table class="table table-bordered table-striped mb-0">
    <thead>
        <tr>
        <th><span class="text">ID</span></th>
        <th><span class="text">Имя</span></th>
        <th><span class="text">Фамилия</span></th>
        <th><span class="text">Дата поступления</span></th>
        <th></th>
        <th></th>
        </tr>
    </thead>
    <tbody>
       @* @foreach (var item in Model)
        {
        <tr>
            <td>@</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.RusName</td>
            <td><a class="btn btn-link" href="~/Account/Edit?id=@item.Id">Изменить</a></td>
            <td><a class="btn btn-link" href="~/Account/Delete?id=@item.Id">Удалить</a></td>
        </tr>*@
     @*   }*@
    </tbody>
</table>
</div>
}