@model FinalProject.Models.DocFullViewModel

<h4 style="font-family: Verdana, Times, serif; color: #5C5A5A; margin-left: 1em;">Просмотр данных врача</h4> <br/>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Имя: @Model.FirstName</li>
        <li class="list-group-item">Фамилия: @Model.LastName</li>
        <li class="list-group-item">Отчество: @Model.MiddleName</li>
        <li class="list-group-item">Дата рождения: @Model.DateOfBirth.ToString("yyyy-MM-dd")</li>
        <li class="list-group-item">Адрес: @Model.Address</li>
        <li class="list-group-item">Номер паспорта: @Model.PassportNumber</li>
        <li class="list-group-item">Логин: @Model.PhoneNumber</li>
        <li class="list-group-item">Должность: @Model.RusName</li>
    </ul>
    <br/>
        <div class="btn-margin">
            <a class="btn btn-outline-dark" asp-controller="Account" asp-action="Index">Назад</a>
            </div>
